<header>


    <nav class="navbar navbar-expand-md navbar-dark bg-success">
        
      <a class="navbar-brand" href="/url">TinyApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/url">My URLs</a>
          <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        </div>
      </div>
      
    
     <% if(user){ %>
      <label for="username"><<<------<%=user.email%>------->>> </label>
      <form action="/logout" method="POST">
      <button type="submit" class="btn btn-danger">Log out</button>
   
      </form> 
      <% } else { %>
        <label for="username"></label>
        <form action="/register" method="GET">
        <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <label for="username"> --Or-- </label>
      <form action="/login" method="GET">
      <button type="submit" class="btn btn-primary">Log in</button>
   
      </form>
     
    <% } %>
    </nav>
  </header>