  <form class="form-inline" action="/login" method="POST">
          <div class="form-group mb-2">
            <label for="username">Password </label>
            <input class="form-control" type="password" name="password" value="" placeholder="Password" style="width: 200px; margin: 1em">
          </div>
      </form> 
      <form class="form-inline" action="/login" method="POST">
        <div class="form-group mb-2">
          <label for="username">Email: </label>
          <input class="form-control" type="email" name="username" value="" placeholder="Email" style="width: 200px; margin: 1em">
          <button type="email"  class="btn btn-primary">Gogogo</button>
        </div>
    </form> 